<h1> <%= @patient.full_name %></h1>

<h3>Prescriptions</h3>
<%= link_to "New Prescription", new_patient_prescription_path(@patient), class: "pull-right" %>


<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Medication</th>
      <th>Dosage/Schedule</th>
      <th>Dates</th>
    </tr>
  </thead>
  <tbody>
    <% @prescriptions.each do |prescription| %>
    <tr>
      <td><%= prescription.medication.name %></td>
      <td><%= prescription.dosage + ' ' + prescription.schedule %></td>
      <td><%= prescription.starts_on.strftime('%m/%d/%Y').to_s + ' - ' + prescription.ends_on.strftime('%m/%d/%Y').to_s %></td>
    </tr>
    <% end %>
  </tbody>
</table>
